.friends .friends__plus {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #fcfcfc;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.friend .friend__now-listening {
  padding: 5px 10px;
  border: 2px solid #52e084;
  border-radius: 15px;
  font-size: 14px;
}

.friend__now-listening span {
  opacity: 0.7;
}

.friend__now-listening i {
  fornt-size: 12px;
}
